.wrapper {
    margin-top: 5vh;
}

.tableinv .dataTables_filter {
    float: right;
}

.tableinv-hover>tbody>tr:hover {
    background-color: #ccffff;
}

@media only screen and (min-width: 768px) {
    .tableinv {
        table-layout: fixed;
        max-width: 100% !important;
    }
}

.tableinv thead {
    background: #ddd;
}

.tableinv td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableinv .highlight {
    background: #ffff99;
}

@media only screen and (max-width: 767px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr,
    tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .tableinv td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }
    .tableinv td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .tableinv td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }
    /*     
    Label the data
    */
    .tableinv td:nth-of-type(1):before {
        content: "Name";
    }
    .tableinv td:nth-of-type(2):before {
        content: "Email";
    }
    .tableinv td:nth-of-type(3):before {
        content: "Username";
    }
    .tableinv td:nth-of-type(4):before {
        content: "password";
    }
    .tableinv td:nth-of-type(5):before {
        content: "Verification Code";
    }
    .tableinv td:nth-of-type(6):before {
        content: "Send / Not";
    }
    .tableinv .dataTables_length {
        display: none;
    }
}


/* ........................................................................ */

.subname {
    background-color: rgb(159, 202, 143);
    padding: 20px;
}

.tabbable-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* margin: 0px -21px -13px -21px; */
}

.tabbable {
    width: 100%;
}

.tabbable .nav-tabs {
    white-space: nowrap;
    display: inline-block;
    min-width: 100%;
    padding: 0px 40px;
    scroll-margin-right: hidden;
}

.tabbable .nav-tabs .nav-item {
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    font-weight: 600;
}

.tabbable .nav-tabs .nav-item .nav-link {
    display: inline-block;
    /* font-size: 40px; */
    color: #26610b;
}

small {
    font-size: 42px;
}

.card {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15);
    width: 100%;
}

a {
    color: #0b3507;
}

a:hover {
    color: #075e51;
}

.text-dark {
    text-decoration: none !important;
}

.elmahio-ad {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.elmahio-ad .logo {
    background: #ffffff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 52px;
}

.elmahio-ad .logo img {
    width: 50px;
}

.elmahio-ad .motto {
    width: 180px;
    font-size: 12px;
    font-weight: bolder;
    padding: 12px;
}

.btn .noticeg {
    height: 39px;
    border-radius: 10px;
    color: #000000;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}


/* .tabnotice-responsive { */


/* display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden; */


/* margin: 0px -21px -13px -21px; */


/* } */

.tabnotice {
    width: 100%;
}


/* 
.tabnotice .nav-tabs { */


/* white-space: nowrap; */


/* display: inline-block; */


/* min-width: 100%;
    padding: 0px 40px; */


/* scroll-margin-right: hidden; */


/* } */

.tabnotice .nav-tabs .nav-item {
    font-size: 20px;
    margin-left: 30px;
    font-weight: 600;
}

.tabnotice .nav-tabs .nav-item .nav-link {
    display: grid;
    /* font-size: 40px; */
    color: #000000;
}

small {
    font-size: 42px;
}

.card {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15);
    width: 100%;
}

a {
    color: #0b3507;
}


/* ////////////////////////////// */

.table2 {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin: auto;
}

caption {
    font-weight: bold;
}

.table2 td {
    padding: 10px;
    background-color: rgb(245, 248, 246);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.table2 th {
    background-color: rgb(10, 87, 74);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.view,
.delete {
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    width: 130px;
}

.view {
    background-color: #16923b;
}

.delete {
    background-color: #431ee9;
}

.tablefoot {
    padding: 0;
    border-bottom: 3px solid #009688;
}

.btsub {
    background-color: #fcf3f3;
    width: 100%;
    /* height: 500px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableresults {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.tableresults caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.tableresults tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.tableresults th,
.tableresults td {
    padding: .625em;
    text-align: center;
}

.tableresults th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .tableresults {
        border: 0;
    }
    .tableresults caption {
        font-size: 1.3em;
    }
    .tableresults thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .tableresults tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .tableresults td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .tableresults td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .tableresults td:last-child {
        border-bottom: 0;
    }
}

.sendButton {
    background: #58B9B6;
    color: #F4F5F0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    /* transition: background 100ms ease-in-out; */
}

.sendButton:hover {
    background: #6ac1be;
}

.sendButton:active {
    background: #49aeab;
}

.sendButton .loading {
    display: inline-block;
    margin: -2px 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 3px solid #F4F5F0;
    border-top-color: transparent;
    -webkit-animation: spin 800ms infinite linear;
    animation: spin 800ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}